@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}

body {
	margin: 0;
}

img {
	max-width: 100%;
}

#menu-lateral {
	background-color: #01284F;
	width: 280px;
	left: 0;
	top: 0;
	text-align: center;
	padding-top: 5em;
	min-height: 100vh;
	height: 100%;
	position: fixed;
}

#logo {
	width: 150px;
	margin-bottom: 50px;
}

.menu ul {
	list-style: none;
	padding: 0;
}

.link {
	color: white !important;
	text-decoration: none;;
	margin-bottom: 2em;
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
}

#conteudo-principal {
	width: calc(100% - 280px);
	position: relative;
	left: 280px;
	height: 100vh;
}

#titulo {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 3px;
	color: #01284F;
}

#container-data {
	text-align: center;
	padding: 20px;
	font-weight: bold;
	font-family: sans-serif;
}

.mensagem {
	margin-bottom: 10px;
}

#container-agenda {
	padding: 2em;
}

.label {
	font-weight: bold;
}

.botao {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
}

.salvar {
	background-color: #81C788;
	margin-right: 10px;
}

.cancelar {
	background-color: #D43D05;
}

.nao-editar {
	background-color: #F9D776;
	margin-right: 10px;
}

@media (max-width: 1100px) {
	#menu-lateral {
		position: relative;
		width: 100%;
		min-height: initial;
		padding-bottom: 1em;
	}
	
	#conteudo-principal {
		position: relative;
		width: 100%;
		left: 0;
		height: auto;
	}
	
	#container-agenda {
		padding: 5px;
		margin-top: 2em;
		margin-bottom: 2em;
	}
}



