@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}
*{
    box-sizing: border-box;
    font-family: Oswald;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}
.menu-lateral {
	background-color: #01284F;
	height: 100%;
	width: 15%;
	float: left;
	text-align: center;
	padding-top: 5em;
	position: fixed;
}
.container{
	width: 85%;
	float: left;
	height: 100%;
	background-color: white;
	padding: 1%;
	margin-left: 15%;
	margin-top: -5vh;
}
.logo {
	width: 150px;
	margin-bottom: 50px;
}

.menu ul {
	list-style-type: none;
	padding: 0;
}

.link {
	color: white !important;
	text-decoration: none;;
	margin-bottom: 2em;
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
}
.formulario_login{
	padding-left: 20%;
	padding-top: 5%;
}
.formulario_login h1{
	color: rgb(1,40,79);
	margin-bottom: 5%;
}
.label_campo{
	font-weigh: bold;
	font-size: 1.8ch;
}
.campo{
    display:block;
    width: 60%;
    font-size: 1.8ch;
    padding: 0.5%;
    border-radius: 5px;
    border: solid 2px rgb(186,186,184);
    margin-bottom: 1%;
}
.botao_cadastro{
	font-size: 2ch;
	background-color: rgb(1,40,79);
	color: white;
    border-radius: 5px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 3%;
    padding-right: 3%;
    border: none;
}
.titulo{
	text-align: center;
	margin-top: 5%;
	font-size: 5ch;
	
}
.tabela{
	text-align: center;
}