@charset "UTF-8";

@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}

.menuLateral {
	height: 100%;
	width: 20%;
	top: 0px;
	left: 0px;
	background-color: rgb(1,40,79);
	position: fixed;
}

.menuLateral a {
	padding: 16px 8px 8px 32px;
	display: block;
	width: 75%;
	margin: auto;
	color: white;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

a.home {
	margin-top: 10%;
	margin-bottom: 5%;
}

.menuPrincipal {
	width: 75%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 25%;
}

h1 {
	color: rgb(2,0,75);
	margin: 3% auto 10% auto;
	width: 70%;
}

label {
	color: rgb(85,90,96);
	font-weight: bold;
}

input {
	width: 80%;
	display: block;
	border-radius: 10px;
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.data {
	width: 30%;
	min-width: 30%;
	margin-right: 5%;
	
}

div.dataCentro {
	width: 100%;
}

input.enviar {
	margin-left: 65%;
	width: 15%;
	font-size: 24px;
	color: white;
	background-color: rgb(1,40,79);
	padding: 6px 10px 6px 10px;
}

*{
	font-family: Oswald;
}