@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}
*{
    box-sizing: border-box;
    font-family: Oswald;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgb(1,40,79);
}
.menu-lateral {
	background-color: #01284F;
	height: 100%;
	width: 15%;
	float: left;
	text-align: center;
	padding-top: 5em;
}
.container{
	width: 85%;
	float: left;
	height: 100%;
	background-color: white;
	padding-bottom: 1%;
}
.logo {
	width: 50%;
	margin-bottom: 50px;
}

.menu ul {
	list-style-type: none;
	padding: 0;
}

.link {
	color: white !important;
	text-decoration: none;;
	margin-bottom: 2em;
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
}

.container a{
	color:inherit;
	font-size: 150%;
}
.bem_vindo{
	display: inline;
}
.cabecalho a{
	margin-left: 70%;
	font-weight: bolder;
	font-size: 2ch;
}

.cabecalho h2{
	font-weight: none;
	color: rgb(2,0,75);
	font-size: 3ch;
}
.cabecalho{
	padding: 1%;
	padding-bottom: 2%;
	border-bottom: solid #d7d7d7 2px;
}
.titulo{
	clear: both;	
}

h1{
	padding-bottom:2%;
	text-align: center;	
	color:rgb(2,0,75);
}

.alinhar {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5%;
	margin-left: 10%;
}
.voce{
	float: left;
	width: 35%;
	padding: 1%;
	margin-bottom: 2%;
	margin-left: 5%;
	border: 1px solid #d7d7d7;	
	border-radius: 5%;
	text-align: center;
	color: rgb(85,90,96);
	
}
.imagem_home{
	margin-right: 18%;
	float: left;
	width: 50%;
}

.voce_titulo{
	text-align: center;
	color: rgb(2,0,75);
}

.imagem_home img{
	padding-right:10%;
	float: right;
	height: 300px;
	object-fit: contain;
}

.links_pagina{
	text-align:center;
	margin-top: 2%;
	margin-right:10%;
	margin-left:10%
}

.links_pagina ul{
	list-style-type: none;
}
.links_pagina li{
	border: 2px solid #d7d7d7;	
	border-radius: 10px;
	padding: 3%;
	margin-bottom: 3%;
}

.links_pagina a{
	width:100%;
	color:inherit;
	font-size: 2ch;
}

footer {
	clear: both;
}